/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    
    
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;

}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.deco-text {
    text-decoration: none;
    color: inherit;
}

.section-title {
    margin: 0px;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.afficher-plus {
    font-size: 16px;
    font-weight: bold;
    margin-top: auto;
}

/****** Banniere ********/
.banniere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin-left: 20px;
    background-color: #fff;
    width: 100%;
    
}

.banniere img {
    max-height: 20px;
}

#banniere-nav {
    top: 0; 
    right: 0; 
    background-color: #fff; 
    margin-right: 20px;
}

 #banniere-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#banniere-nav li {
    margin-left: 20px;
    
} 

#banniere-nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    padding: 15px;
}

#banniere-nav a:hover {
    color: blue;
}
#banniere-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: blue;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#banniere-nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
} 

/****** HEADER ******/

header {
    padding: 10px;
    margin-left: 5px;
    margin-top: 15px;    
}

#grand-titre {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 10px 0
    
}

header p {
    margin: 0 0 20px 0;
}

/****** Recherche d'hébergement ********/

.search {
    text-align: left;
    margin : 0px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 0.5px solid #ddd;
    border-radius: 15px;
    width: 377px;
    height: 49px;
    overflow: hidden;
    width: fit-content;
    background-color: white;
    margin: 30px 0;
    
}
.search-container .location-icon {
    background-color: #f2f2f2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100%;
    
}

.search-container i {
    font-size: 1.2em
}
.fa-location-dot {
    color: black;
    padding: auto auto;
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: black;

}

.search-container input[type="text"]::placeholder {
    color: black;
    opacity: 1; 
}

.search-container button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px ;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    height: 100%;
    
}

.search-container button:hover {
    background-color: #0056b3;
    height: 100%;
}

.button-grand {
    display: block;
}

.button-petit {
    display: none;
}
/****** Filtres ******/

.Filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.Filters-container h2 {
    font-size: 1.2em; /* Taille du texte pour le titre */
    color: black; /* Couleur du texte pour le titre */
    margin: 0; /* Supprimer la marge autour du titre */
}

.Filters {
    display: flex;
    gap: 10px;
}

.filter-item {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 1em;
}

.filter-item i {
    margin-right: 10px;
    color: #007bff;
    font-size: 1em
}

.filter-item span {
    font-weight: bold;
}

.filter-item.active {
    border-color: #ccc;
}

.filter-item.highlight {
    border-color: #ccc;
}

.filter-item:hover {
    background-color: #e7f1ff; /* Fond bleu au survol */
    color: initial; /* Texte blanc pour contraste */
}

.filter-item:hover i {
    color: #007bff; /* Icônes blanches pour contraste */
}

/***** info recherche *****/

.info-container {
    display: flex;
    align-items: center; 
    font-family: Arial, sans-serif;
    margin: 20px 0;
    color: #333;
}

.info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* Ajuster la taille selon les besoins */
    height: 24px;
    border: 1px solid #d9d9d9; /* Bordure grise */
    border-radius: 100%; /* Rend la bordure circulaire */
    margin-right: 10px;
    font-size: 12px;
    }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires a {
    text-decoration: none;
}

/****** Hebergements ***********/

.hebergements {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    width: 65%;
    text-decoration: none;
    
}

.hebergements-container button {
    border: none;
    justify-content: center;
}

.hebergements-title {
    margin-bottom: 20px;
    width: 100%;
    
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: inherit;
    width: 100%; /* largeur imposé minimum de 300px */
    height: 95%; /* Hauteur ajustée */
    box-sizing: border-box;
}

.hebergements-card .card a {
    text-decoration: none;
}

.hebergements-card .card img {
    width: 100%;
    height: 130px; /* Hauteur ajustée pour s'adapter à l'intérieur de la carte */
    border-top-left-radius: 10px; /* Pour que l'image respecte les coins arrondis de la carte */
    border-top-right-radius: 10px; /* Pour que l'image respecte les coins arrondis de la carte */
}

.hebergements-card .card-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alignement en haut */
    gap: 2px; /* Espace réduit entre les éléments */
}

.hebergements-card .card-text {
    text-decoration: none;
}


.hebergements-card .card-title {
    margin: 5px 0;
}

.hebergements-card .card-subtitle {
    margin: 5px 0;
}
.hebergements-card .card-rating {
    margin-bottom: 2%;
    
}

.afficher-plus {
    margin-top: 15px;
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 4px; /* Coins arrondis */
}

/****** Populaires ***********/
.populaires {
    background-color: var(--main-bg-color);
    width: 32%;
    margin: 20px;
    padding: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards .card a {
    text-decoration: none;
}


.populaires-cards img {
    min-width: 40%; 
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*******Activités*********/

.activités {
    margin-bottom: 80px;
}

.activités-card .card-title {
    width: 100%;
    font-weight: bold;

}
.activités-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between; /* Change pour répartir l'espace autour des cartes */
    gap: 2px;
    width: 100%;
    align-items: center;
    padding: 30px;
    
}

.activités-card .card {
    flex-grow: 1;
    width: 260px; /* Ajustez cette valeur selon vos besoins */
    height: 400px; /* Ajustez cette valeur selon vos besoins */
    box-sizing: border-box;
    padding: 0;
    border-radius: 10px; /* Pour avoir des coins arrondis */
}

.activités-card .card img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0; /* Supprime toute marge autour de l'image */
    padding: 0; /* Supprime tout padding autour de l'image */
    
}

.activités-card .card-text {
    height: 15%; /* Ajuste cette valeur pour remplir le reste de la carte */
    display: flex;
    align-items: center; /* Centre verticalement le texte */
    justify-content: flex-start; /* Aligne le texte à gauche */
    padding: 10px; /* Ajustez le padding selon vos besoins */
    box-sizing: border-box;
    border: none; /* Supprime les bordures */
    width: 100%;
    font-weight: bold;
    margin-left: 5px;
}

.activités-title {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 33px;
}

/*******footer*******/

footer {
    background-color: #f2f2f2; /* Couleur de fond gris clair */
    padding: 20px; /* Espace interne */
    display: flex;
    justify-content: space-between; /* Distribution égale des colonnes */
    align-items: flex-start; /* Alignement en haut */
}

.footer-title {
    font-size: 16px; /* Taille de la police des titres */
    font-weight: bold; /* Titre en gras */
    margin-bottom: 10px; /* Espace en dessous des titres */
}

footer div {
    flex: 1; /* Les divs prennent une largeur égale */
    margin-right: 20px; /* Espace entre les colonnes */
}

footer div:last-child {
    margin-right: 0; /* Pas d'espace après la dernière colonne */
}

ul {
    list-style-type: none; /* Pas de puces */
    padding: 0; /* Pas de marge interne */
}

li {
    margin-bottom: 10px; /* Espace entre les éléments de la liste */
}

a {
    text-decoration: none; /* Pas de soulignement */
    color: #333; /* Couleur du texte */
}

a:hover {
    text-decoration: underline; /* Soulignement au survol */
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }

    

    .populaires {
        width: 100%;
        margin: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-card {
        width: 100%;
    }
   .activités-card .card {
    width: 100%;
   }
    

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {


    .main-container {
        margin-right: 0px;
    }

    footer {
        flex-direction: column;
    }

    .banniere {
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    
    #banniere-nav {
        width:100% ;
        display: flex;
        flex-direction: row;
        align-content: space-around;
        text-align: center;
    }

    #banniere-nav a {
        border-bottom: 3px solid #f2f2f2;
        margin: 0px auto;
        /* padding: 15px auto; */
        width: 100%;

    }

    #banniere-nav a:hover {
        border-bottom: 4px solid #0065FC;
    }
    
    #banniere-nav a:hover::before {
        display: none;
    }

    header {
        margin-left: 10px;
    }
    .search {
        text-align: left;
        margin: 0;
        margin-top: 10px
    }

    .button-grand {
        display: none;
    }
    
    .button-petit {
        display: block;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .Filters-container {
        flex-direction: column;
    }

    .Filters-container h2 {
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
    }

    .Filters {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
        font-size: 14px;
        margin-left: 0px;
    }

    .info-text {
        font-size: 15px;
        text-align: left;
    }

    
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        width: 100%;
        border-radius: 0;
        padding: 30px 20px 30px 20px;
        margin: 0;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;

    }

    .populaires-title {
        margin-bottom: 10px;
    }

    .populaires-cards {
        width: 100%;
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 335px;
        max-height: 146px;
        margin-top: 5px;
    }

    .hebergements {
        align-items: center;
        background-color: transparent;
        text-align: left;
    }

    .hebergements-card .card {
        width: 335px;
        height: 208px;
    }

    .hebergements-card .card img {
        height: 60%;
        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .hebergements-card {
        gap: 15px;
        grid-template-columns: repeat(1, 1fr);
    }

    .afficher-plus {
        background-color: transparent;
        margin-top: 5px;
    }

    
    /* NOUVEAU */
    
    .activités {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: left;
    }

    .activités-title {
        width: 100%;
        margin-bottom: 20px;
    }
    .activités-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 0px;
        

    }
    .activités-card .card {
        width: 315px;
        height: 200px;
        margin: 0px;
    }

    .activités-card .card-text {
        margin-left: 10px;
        height: 20%;
        padding: 0px;
    }
    .activités-card .card img {
        height: 75%;
    }
    
}










