/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 95%;
    /*max-width: 1440px;*/ 
    padding: 0%;
    margin: 0%;
    margin-top: 15px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Banniere ********/
.banniere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    background-color: #fff;
    width: 100%;
    
}

.banniere img {
    max-height: 20px;
}

#banniere-nav {
    position: fixed; 
    top: 0; 
    right: 0; 
    background-color: #fff; 
    z-index: 1000; 
    padding: 10px; 

}


#banniere-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#banniere-nav li {
    margin-left: 20px;
    position: relative;
}
#banniere-nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    padding: 0;
}

#banniere-nav a:hover {
    color: blue;
}
#banniere-nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: blue;
    top: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
#banniere-nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/****** HEADER ******/

header {
    padding: 20px;
}

#grand-titre {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

header p {
    margin: 0 0 20px 0;
}

/****** Recherche d'hébergement ********/

.search {
    text-align: left;
    margin : 30px 0;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    width: fit-content;
    background-color: white;
    margin: 30px 0;
    
}
.search-container .location-icon {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    height: 100%;
    
}

.search-container i {
    font-size: 1.2em
}
.fa-location-dot {
    color: black;
}

.search-container input[type="text"] {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: black;

}

.search-container input[type="text"]::placeholder {
    color: black;
    opacity: 1; 
}

.search-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px ;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.search-container button:hover {
    background-color: #0056b3;
}


/****** Filtres ******/

.Filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0;
}

.Filters-container h2 {
    font-size: 1.2em; /* Taille du texte pour le titre */
    color: black; /* Couleur du texte pour le titre */
    margin: 0; /* Supprimer la marge autour du titre */
}

.Filters {
    display: flex;
    gap: 10px;
}

.filter-item {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 1em;
}

.filter-item i {
    margin-right: 10px;
    color: #007bff;
    font-size: 1em
}

.filter-item span {
    font-weight: bold;
}

.filter-item.active {
    border-color: #ccc;
}

.filter-item.highlight {
    border-color: #ccc;
}

.filter-item:hover {
    background-color: #e7f1ff; /* Fond bleu au survol */
    color: initial; /* Texte blanc pour contraste */
}

.filter-item:hover i {
    color: #007bff; /* Icônes blanches pour contraste */
}

/***** info recherche *****/

.info-container {
    display: flex;
    align-items: center; 
    font-family: Arial, sans-serif;
    margin: 20px 0;
    color: #333;
}

.info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px; /* Ajuster la taille selon les besoins */
    height: 20px;
    border: 2px solid #d9d9d9; /* Bordure grise */
    border-radius: 50%; /* Rend la bordure circulaire */
    margin-right: 10px;
    font-size: 10px;
        }

.info-text {
    font-size: 1em;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}

.hebergements-container {
    width: 100%;
}

.hebergements-title {
    margin-bottom: 20px;
    width: 100%;
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s;
    width: 300px; /* Largeur ajustée */
    height: 230px; /* Hauteur ajustée */
    box-sizing: border-box;
}

.hebergements-card .card:hover {
    transform: scale(1.05);
}

.hebergements-card .card img {
    width: 100%;
    height: 130px; /* Hauteur ajustée pour s'adapter à l'intérieur de la carte */
    border-top-left-radius: 10px; /* Pour que l'image respecte les coins arrondis de la carte */
    border-top-right-radius: 10px; /* Pour que l'image respecte les coins arrondis de la carte */
}

.hebergements-card .card-content {
    padding: 10px;
    flex-grow: 1; /* Permet au contenu de s'étendre */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alignement en haut */
    gap: 2px; /* Espace réduit entre les éléments */
}

.hebergements-card .card-title {
    margin: 5px 0;
}

.hebergements-card .card-subtitle {
 margin: 5px 0;
}
.hebergements-card .card-rating {
    display: flex;
    align-items: center;
    margin: 2px 0;
}


/****** Populaires ***********/
.populaires {
    width: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}